@import "tailwindcss";
:root{
    --main-bg-color: #182848;
    --secondary-bg-color:#161D27;
    --text-color:#FFFFFF;
    --secondary-color:#858792;
    --border-color:#0092B8;
    --bg-project : #374151;
    --image-color:#288198;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background-color:var(--border-color);
}
::-webkit-scrollbar-track{
    background-color: var(--main-bg-color);
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
svg path {
    stroke:var(--image-color) ;
    stroke-width: 10px;
    fill: none;
}
.block{
    pointer-events: none;
    opacity: 0.5;
}
.appear{
    opacity: 0;
    animation: appear 2s ease-in forwards;
}




.fadeInLeft{
    animation: fadeInLeft both;
    animation-timeline: view();
}

.autoBlur{
    animation: autoBlur both;
    animation-timeline: view();
}

.autoShow{
    animation: autoShow both;
    animation-timeline: view();
}

@keyframes autoShow {
    0% , 100%{
        opacity: 0;
        transform: scale(0);
    }
    20% , 65%{
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes autoBlur {
    0% , 100% {
        filter: blur(10px);
    }
    30% , 65% {
        filter: blur();
    }
}


@keyframes fadeInLeft {
    0% , 100%{
        transform: translateX(-500px) scale(0);
        filter: blur(15px);
    }
    30% , 65%{
        transform: translateX(0) ;
        filter: blur(0);

    }
}

@keyframes appear {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
div:hover > .jump{
    animation: jump 1s ease-out infinite;
}

@keyframes jump {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-7px);
    }
}