@import "tailwindcss";

:root{
    --secondary-bg-color:#161D27;
    --main-bg-color: #182848;
    --text-color:#FFFFFF;
    --secondary-color:#858792;
    --border-color:#0092B8;
}

body{
    color: var(--text-color);
}
header .links li.active , header .links li:hover{
    color: var(--text-color);
}
