@import "tailwindcss";
:root{
    --main-bg-color: #182848;
    --secondary-bg-color:#161D27;
    --text-color:#FFFFFF;
    --secondary-color:#858792;
    --border-color:#0092B8;
    --bg-project : #374151;
    --image-color:#288198;
}
*{
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    background-color: var(--main-bg-color);
}
.poppins{
    font-family: 'Poppins', sans-serif;
}
svg path {
    stroke:var(--image-color) ;
    stroke-width: 10px;
    fill: none;
}